{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="ru">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Black | Sansara Lab</title>
    <link rel="stylesheet" href="{% static 'http_front/vendor/foundation-sites/dist/foundation.min.css' %}">
    <link rel="stylesheet" href="{% static 'http_front/site.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static 'http_front/favicons/apple-touch-icon-57x57.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'http_front/favicons/apple-touch-icon-114x114.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'http_front/favicons/apple-touch-icon-72x72.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'http_front/favicons/apple-touch-icon-144x144.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{% static 'http_front/favicons/apple-touch-icon-60x60.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static 'http_front/favicons/apple-touch-icon-120x120.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% static 'http_front/favicons/apple-touch-icon-76x76.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static 'http_front/favicons/apple-touch-icon-152x152.png' %}" />
    <link rel="icon" type="image/png" href="{% static 'http_front/favicons/favicon-196x196.png' %}" sizes="196x196" />
    <link rel="icon" type="image/png" href="{% static 'http_front/favicons/favicon-96x96.png' %}" sizes="96x96" />
    <link rel="icon" type="image/png" href="{% static 'http_front/favicons/favicon-32x32.png' %}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{% static 'http_front/favicons/favicon-16x16.png' %}" sizes="16x16" />
    <link rel="icon" type="image/png" href="{% static 'http_front/favicons/favicon-128.png' %}" sizes="128x128" />
    <meta name="application-name" content="Black - Sansara Lab"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="{% static 'http_front/favicons/mstile-144x144.png' %}" />
    <meta name="msapplication-square70x70logo" content="{% static 'http_front/favicons/mstile-70x70.png' %}" />
    <meta name="msapplication-square150x150logo" content="{% static 'http_front/favicons/mstile-150x150.png' %}" />
    <meta name="msapplication-wide310x150logo" content="{% static 'http_front/favicons/mstile-310x150.png' %}" />
    <meta name="msapplication-square310x310logo" content="{% static 'http_front/favicons/mstile-310x310.png' %}" />
</head>
<body>
    <div class="container" style="padding-top: 5rem">
        <div class="row column text-center">
            <h1><a style="color: black" href="/">Black list</a></h1>
        </div>

        {% block content %}{% endblock %}

        <div class="row column text-center">
            <br><br><br>
            <small>Администрация сайта не несет ответственности за данные, размещенные пользователями.</small>
        </div>
    </div>
<script src="{% static 'http_front/vendor/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'http_front/vendor/foundation-sites/dist/foundation.min.js' %}"></script>
<script>
    $(document).foundation();
</script>
</body>
</html>
